<!DOCTYPE html>
<html lang="en">
<head>
    <title>Harry Potter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lobster|UnifrakturCook:700" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Assets/Css/Style.css" rel="stylesheet" />
    @{
        if (Session["id_user"] != null)
        {
            int userId = Convert.ToInt32(Session["id_user"]);
            User user = new global::User();
            user = user.GetUser(userId);
            switch (user.GetHouseName())
            {
                case "Gryffindor":
                    <link href="~/Assets/Css/Gryffindor.css" rel="stylesheet" />
                    break;
                case "Hufflepuff":
                    <link href="~/Assets/Css/Hufflepuff.css" rel="stylesheet" />
                    break;
                case "Ravenclaw":
                    <link href="~/Assets/Css/Ravenclaw.css" rel="stylesheet" />
                    break;
                case "Slytherin":
                    <link href="~/Assets/Css/Slytherin.css" rel="stylesheet" />
                    break;
            }
        }
    }
</head>
<body>
    <nav class="navbar navbar-default">
        <!-- Check for session, to decide which navigation to show -->
        @if (Session["id_user"] == null) 
        {
            <ul class="nav navbar-nav">
                <li><a href="~/Login.cshtml">Login</a></li>
                <li><a href="~/Register.cshtml">Registreer</a></li>
            </ul>
        }
        else
        {
            <ul class="nav navbar-nav">
                <li><a href="~/Homepage">Home</a></li>
                <li><a href="~/Profile">Profile</a></li>
                <li><a href="#">Classes</a></li>
                <li><a href="#">Management</a></li>
                <li><a href="~/Logout">Logout</a></li>
            </ul>
        }

    </nav>

