body {
	background-color: #efefef;
}

header {
	background-image: url("../../assets/img/background.png");
	background-size: cover;
	background-position-y: -500px;
	height: 400px;
	margin-bottom: 20px;
}

/*	CUSTOM PRIMARY BUTTON	*/
.btn.btn-custom-primary {
	background-color: #e74c3c;
	color: #fff;
	text-transform: uppercase;
}
	.btn.btn-custom-primary:hover {
		background-color: #c0392b;
	}

.homepage-header .login-button {
	position: absolute;
	right: 10px;
	top: 10px;
}

.home h1 {
	text-align: center
}