@using WebMatrix.Data

@{
    // Check for session
    if (Session["id_user"] == null)
    {
        Response.Redirect("~/Login.cshtml");
    }

    // Fetch all classes
    List<Class> classes = Class.GetClasses();

    // Participate on class
    int userId = Convert.ToInt32(Session["id_user"]);
    if (Request.QueryString["classid"] != null)
    {
        int classId = Request.QueryString["classid"].AsInt();
        if (classId != 0)
        {
            // Participate on class
            Class.ParticipateOnClass(classId, userId);
            Response.Redirect("~/Classes");
        }
    }

    // Redirect if no house
    User user = new User();
    if (user.HasHouse(userId) == false)
    {
        Response.Redirect("~/Sortinghat");
    }
}

@RenderPage("~/Layout/Header.cshtml")

<div class="container">
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
		    <h1>Classes</h1>
		    <div id="demo">
					<!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
				<div class="table-responsive-vertical shadow-z-1">
					<!-- Table starts here -->
					<table id="table" class="table table-hover table-mc-light-blue">
					    <thead>
					    <tr>
							<th>Class</th>
							<th>Teacher</th>
							<th>Participate</th>
					    </tr>
					    </thead>
					    <tbody>
                            @foreach (Class item in classes)
                            {
                                User teacher = item.GetTeacher();
                                string fullname = teacher.GetFullName();
                                if (fullname == " ")
                                {
                                    fullname = "-";
                                }

                                <tr>
                                    <td>@item.GetClassname()</td>
                                    <td> @fullname</td>
                                    @{
                                        if (Class.IsParticipating(item.GetClassId(), userId) == true)
                                        {
                                            <td>Participating</td>
                                        }
                                        else
                                        {
                                            <td><a href="~/Classes?classid=@item.GetClassId()">Participate</a></td>
                                        }
                                    }
                                </tr>
                            }
					       
					    </tbody>
					</table>
					</div>
  
		    </div>
		</div>
	</div>
</div>

@RenderPage("~/Layout/Footer.cshtml");