/* Body background */
body {
	background-image: none;
}

/* Navbar */
.navbar-custom {
    background-color: #0e1a40;
}

.nav.navbar-nav li a {
    color: #ffffff;
    font-family: 'Cinzel', serif;
}

	.nav.navbar-nav li a:hover {
		background-color: #000d34;
	}
