body {
	background-color: #efefef;
}

header img {
	width: 100%;
	margin-bottom: 20px;
}

/* Navigation style */
body .navbar {
	border-radius: 0;
	margin-bottom: 0;
	margin: 0;
}

/* Profile */
body .profile-top #background-profile {
	max-height: 200px;
}

body .profile-top #person-profile {
	height: 110px;
	width: 110px;
	position: absolute;
	left: 100px;
	top: 100px;
	border-radius: 100px;
}

/* Custom primary button */
.btn.btn-custom-primary {
	background-color: #e74c3c;
	color: #fff;
	text-transform: uppercase;
}
	.btn.btn-custom-primary:hover {
		background-color: #c0392b;
	}

.homepage-header .login-button {
	position: absolute;
	right: 10px;
	top: 10px;
}

.home h1 {
	text-align: center
}